<div class="container-fluid">
  <div class="row login_wrap">
    <div class="col-12 col-md-4 dark_box">
      <div class="logo">
        <img src="assets/Logo-white.svg" alt="logo" />
      </div>

      <div class="login_slider">
        <div class="login_slider">
          <!-- text-slider.component.html -->
          <ngb-carousel>
            <ng-template ngbSlide>
              <div class="slider-text">
                <h3>
                  Utilise 150+ additional reports, as well as custom report
                  builders and interactive dashboards, to dig deeper into your
                  data.
                </h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="slider-text">
                <h3>
                  Utilise 150+ additional reports, as well as custom report
                  builders and interactive dashboards, to dig deeper into your
                  data.
                </h3>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="slider-text">
                <h3>
                  Utilise 150+ additional reports, as well as custom report
                  builders and interactive dashboards, to dig deeper into your
                  data.
                </h3>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-8 justify-content-center align-items-center content-center login_form_wrap"
    >
      <div class="sing-in-form">
        <div class="form_text">
          <h1>Sign In to your account</h1>
          <p>
            We happy to see you here again. Enter your email address and
            password.
          </p>
        </div>
        <div class="login_form">
          <label for="email">Email Address</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter email address"
          />

          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter password"
          />

          <div
            class="d-flex justify-content-between align-items-center additional-options"
          >
            <div class="d-flex checkbox">
              
              <label for="keep_signed_in" >
                <input
                type="checkbox"
                id="keep_signed_in"
                name="keep_signed_in"
              /><span> Keep me signed in</span>
              </label>
            </div>
            <a href="#" class="forgot-password">Forgot password?</a>
          </div>
          <button type="submit">Sign In</button>
          <div class="text-center sign-in-link">
            Already have an account?
            <a href="#" class="sign-in-now">Create Now</a>
          </div>
        </div>
      </div>
      <div class="social-login">
        <p class="text-center divder-text">Or</p>
        <div class="d-flex signup-btn">
          <a href="#" class="google-signup-button">
            <img
              src="assets/google-icon.svg"
              alt="Google Icon"
              class="google-icon"
            />
            Sign up with Google
          </a>
          <a href="#" class="google-signup-button">
            <img
              src="assets/facebook-icon.svg"
              alt="Google Icon"
              class="google-icon"
            />
            Sign up with Facebook
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
